<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
<div class="container">

   <div class="panel panel-default">
   	<div class="panel-heading">
   			<div class="clearfix">
      			<h1 class="panel-title titulo-panel">Pesquisa de alunos</h1>
      			<a class="btn btn-link link-panel" href="/alunos/novo">Novo aluno</a>
      		</div>
      	</div>
      	
      	
      	<div class="panel-body">
      		<table class="table table-bordered table-striped">
      			<thead>
      				<tr>
      					<th class="text-center col-md-1">Id</th>
      					<th>Nome</th>
      					<th class="text-center col-md-2">Matricula</th>
      					<th class="text-center col-md-2">CPF</th>
      					<th class="col-md-1"></th>
      				</tr>
      			</thead>
      			<tbody>
	   				<tr th:each="aluno : ${todosAlunos}">
	   					<td class="text-center" th:text="${aluno.id}">1</td>
	   					<td th:text="${aluno.nome}"></td>
	   					<td class="text-center" th:text="${{aluno.matricula}}"></td>
	   					<td class="text-right" th:text="${{aluno.cpf}}"></td>
	   					<td class="text-center">
	   						
	   					</td>
	   				</tr>
	   				<tr>
	   					<td colspan="6" th:if="${#lists.isEmpty(todosAlunos)}">Nenhum aluno foi encontrado</td>
					</tr>
      			</tbody>
      		</table>
      	</div>
   </div>
</div>
</section>
</html>
















